* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* variables */ 
:root {
    --main-text-color: #212121;
    --main-bg-color: #e8e8e8;  
    --neu-bg: #b3d6d4a8;
    --neu-shadow-light: #ffffff;
    --neu-shadow-dark: #a3a3a3;
}

/* Only the BG image*/
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height:100%;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    z-index: -1;
    opacity: 0.5;
}

body{
    font-family: 'Exo 2', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    background-color: var(--neu-bg);
    text-align: center;
    margin: 0em auto;
    font-weight: 600;
    font-size: 1.8rem;
    user-select: none;
    max-width: 50%;
    border-radius: 10rem;
    border: solid 0.1rem rgb(255, 255, 255);
    padding: 1.5em 2em;
    box-shadow:
        8px 8px 16px var(--neu-shadow-dark),
        -8px -8px 16px var(--neu-shadow-light),
        inset 2px 20px 10px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.8s ease forwards;     
}

.intro, .content, .kontakt {
    background-color: rgba(222, 200, 228, 0.568);
    background: linear-gradient(145deg, #ffffff, #a1a1a138);
    border: solid 1px rgb(255, 255, 255);
    margin: 2em auto;
    text-align: center;
    max-width: 40%;
    border-radius: 5rem;
    padding: 1.5em 2em;
    backdrop-filter: blur(2px);
    box-shadow:
        8px 8px 16px var(--neu-shadow-dark),
        -8px -8px 16px var(--neu-shadow-light),
        inset 2px 20px 10px rgba(0,0,0,0.1);
    animation: fadeInUp 0.8s ease forwards;
}
.kontakt {
    max-width: 35%;
}

.buttonGroup {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

input {
    margin: 10px 0rem;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5em;
    background-color: #ebeaea;
    
    box-shadow:
        8px 8px 16px var(--neu-shadow-dark),
        -8px -8px 16px var(--neu-shadow-light),
        inset 2px 20px 10px rgba(0,0,0,0.1);
    transition: 400ms ease-in-out;

}
input:hover {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
             -13px -13px 100px #ffffff;
}

label {

  display: block;
  margin-bottom: 0.5em;
}

textarea {
    width: 100%;
    max-width: 100%;
    resize: vertical;
    margin: 1rem 0 0 0;
    border: solid 1px white;
    outline: none;
    border-radius: 1.5rem;
    padding: 0.5em;
    opacity: 0.5;
    box-shadow:
        6px 6px 10px var(--neu-shadow-dark),
        -6px -6px 10px var(--neu-shadow-light),
        inset 2px 2px 5px rgba(255, 255, 255, 0.5),
        inset -2px -2px 5px rgba(0, 0, 0, 0.1);

}
textarea:focus{

    outline: none;
    box-shadow:
        4px 4px 8px var(--neu-shadow-dark),
        -4px -4px 8px var(--neu-shadow-light),
        inset 2px 8px 10px rgba(0, 0, 0, 0.15);
    background-color: #fefefe;
    transition: box-shadow 0.3s ease, background-color 0.3s ease;
}

footer {
    scale: 1;
    transition: 400ms ease-in-out;
}
footer:hover{
    scale: 1.2;
    font-weight: 600;

}

#floating-circle {
    position: fixed;
    top: 40%;           
    left: 5%;         
    transform: translateY(-50%);
    width: 10rem; 
    height: 10rem;
    border-radius: 50%; 
    overflow: hidden; 
    box-shadow:
        8px 8px 16px var(--neu-shadow-dark),
        -8px -8px 16px var(--neu-shadow-light),
        inset 2px 20px 10px rgba(0,0,0,0.1);
    border: 0.5px solid white; 
    z-index: 9999;
    animation: fadeInUp 0.8s ease forwards;
}

#floating-circle-r {
    position: fixed;
    top: 40%;
    right: 5%;           
    transform: translateY(-50%);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    box-shadow:
        8px 8px 16px var(--neu-shadow-dark),
        -8px -8px 16px var(--neu-shadow-light),
        inset 2px 20px 10px rgba(0,0,0,0.1);
    border: 0.5px solid white;
    z-index: 9999;
    animation: fadeInUp 1.2s ease forwards;
}


#floating-circle img, #floating-circle-r img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* cover the circle area */
  display: block;         /* remove inline gap */
}
